<form action="<%= do_import_admin_proxies_path%>" method="POST">
  <%= hidden_field_tag :authenticity_token, form_authenticity_token -%>
  <p>Enter a list of proxies in the following format <b>IP:PORT:USERNAME:PASSWORD</b> separated by a new line</p>
  <textarea name="proxies" rows="20" cols="10"></textarea>
  <p>
  <input type='submit' value='Go' />
  </p>
</form>